Source: yyjson
Section: libs
Priority: optional
Maintainer: unknown <xiangzelong@deepin.org>
Uploaders: Amaro Martínez <xoas@airmail.cc>,
Standards-Version: 4.6.0
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
                libmpfr-dev,
                libgmp-dev,
                cmake,
Homepage: https://github.com/ibireme/yyjson

Package: yyjson-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: yyjson (= ${binary:Version}), ${misc:Depends}
Description: A high performance JSON library written in ANSI C.

Package: yyjson
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A high performance JSON library written in ANSI C.
