Source: yyjson
Section: libs
Priority: optional
Maintainer: unknown <xiangzelong@deepin.org>
Uploaders:
 Amaro Martínez <xoas@airmail.cc>,
Standards-Version: 4.6.0
Rules-Requires-Root: no
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 libgmp-dev,
 libmpfr-dev,
Homepage: https://github.com/ibireme/yyjson

Package: libyyjson-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libyyjson0 (= ${binary:Version}),
 ${misc:Depends},
Breaks:
 yyjson-dev (<< 0.10.0-0deepin1),
Replaces:
 yyjson-dev (<< 0.10.0-0deepin1),
Description: high performance JSON library written in ANSI C (development files)
 The fastest JSON library in C.

Package: libyyjson0
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 yyjson (<< 0.10.0-0deepin1),
Replaces:
 yyjson (<< 0.10.0-0deepin1),
Description: high performance JSON library written in ANSI C
 The fastest JSON library in C.

Package: yyjson
Section: oldlibs
Architecture: any
Multi-Arch: same
Depends:
 libyyjson0 (= ${binary:Version}),
 ${misc:Depends},
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: yyjson-dev
Section: oldlibs
Architecture: any
Multi-Arch: same
Depends:
 libyyjson-dev,
 ${misc:Depends},
Description: transitional package
 This is a transitional package. It can safely be removed.
